@font-face {
  font-family: "iconfont"; /* Project id 4296752 */
  src: url('iconfont.woff2?t=1705055129696') format('woff2'),
       url('iconfont.woff?t=1705055129696') format('woff'),
       url('iconfont.ttf?t=1705055129696') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-no:before {
  content: "\e658";
}

.icon-yes:before {
  content: "\e605";
}

.icon-tixian:before {
  content: "\e639";
}

.icon-jilu:before {
  content: "\e70d";
}

.icon-info:before {
  content: "\e675";
}

.icon-info1:before {
  content: "\e65a";
}

.icon-tequan:before {
  content: "\e7ff";
}

.icon-vip1:before {
  content: "\e629";
}

.icon-huodong:before {
  content: "\e616";
}

.icon-share:before {
  content: "\e61f";
}

.icon-share-f:before {
  content: "\e647";
}

.icon-qiandao:before {
  content: "\e65e";
}

.icon-choujiangzhuanpan:before {
  content: "\e6a7";
}

.icon-fenxiang:before {
  content: "\e62f";
}

.icon-user:before {
  content: "\e882";
}

.icon-tuiguang:before {
  content: "\e603";
}

.icon-moneygo:before {
  content: "\e65d";
}

.icon-baseball:before {
  content: "\e61e";
}

.icon-sign_out:before {
  content: "\e99d";
}

.icon-zhongwen:before {
  content: "\e7af";
}

.icon-play2:before {
  content: "\e602";
}

.icon-full-screen1:before {
  content: "\e635";
}

.icon-full-screen:before {
  content: "\e63f";
}

.icon-badge1:before {
  content: "\e62e";
}

.icon-badge2:before {
  content: "\e601";
}

.icon-cherry1:before {
  content: "\ec17";
}

.icon-tv-one:before {
  content: "\e696";
}

.icon-lobby:before {
  content: "\e826";
}

.icon-badge:before {
  content: "\e89b";
}

.icon-play:before {
  content: "\e60f";
}

.icon-tvroom:before {
  content: "\e6ff";
}

.icon-cherry:before {
  content: "\e610";
}

.icon-play1:before {
  content: "\e62d";
}

.icon-back:before {
  content: "\e6a5";
}

.icon-instagram:before {
  content: "\e608";
}

.icon-tuite:before {
  content: "\e600";
}

.icon-discord:before {
  content: "\e609";
}

.icon-telegram:before {
  content: "\e7b5";
}

.icon-mail:before {
  content: "\e707";
}

.icon-notifications:before {
  content: "\e694";
}

.icon-menu:before {
  content: "\e61b";
}

.icon-fire:before {
  content: "\e607";
}

.icon-home:before {
  content: "\e636";
}

.icon-CouponRebate:before {
  content: "\e687";
}

.icon-Mygame:before {
  content: "\e60e";
}

.icon-Rewards:before {
  content: "\e631";
}

.icon-Recent:before {
  content: "\e7ea";
}

.icon-Affiliate:before {
  content: "\e69d";
}

.icon-Casino:before {
  content: "\e613";
}

.icon-Bonus:before {
  content: "\efbc";
}

.icon-Vip:before {
  content: "\e62c";
}

