@font-face {
  font-family: "iconfont"; /* Project id 4296752 */
  src: url('iconfont.woff2?t=1698120105531') format('woff2'),
       url('iconfont.woff?t=1698120105531') format('woff'),
       url('iconfont.ttf?t=1698120105531') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\e61b";
}

.icon-fire:before {
  content: "\e607";
}

.icon-home:before {
  content: "\e636";
}

.icon-CouponRebate:before {
  content: "\e687";
}

.icon-Mygame:before {
  content: "\e60e";
}

.icon-Rewards:before {
  content: "\e631";
}

.icon-Recent:before {
  content: "\e7ea";
}

.icon-Affiliate:before {
  content: "\e69d";
}

.icon-Casino:before {
  content: "\e613";
}

.icon-Bonus:before {
  content: "\efbc";
}

.icon-Vip:before {
  content: "\e62c";
}

